@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,300;0,400;0,600;1,400&family=Nunito&display=swap');
@font-face {
  font-family: Colombo;
  src: url(assets/ColomboSans/ColomboSansFont.ttf);
}
@nest;

html {
    height: 100%;
    scroll-behavior: smooth;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
    background: #fff1ec
}

body {
    margin: 0px;
    height: 100%;
    max-width: 2000px;
    margin: auto;
}

#root {
    height: 100%;
}

.logo {
  font-family: Colombo;
}

.big {
  font-size: 3.5em;
  padding: 5px;
  font-weight: 300;
  font-family: 'Bitter', serif;
}

.small {
  font-size: 1.5em;
  padding: 5px;
  font-family: 'Bitter', serif;
  line-height: 2em;
}

.link {
  color: #fc7a5b;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  display:inline-flex;
  overflow: hidden;
  padding: 3px 1px;
}

.link__graphic {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  fill: none;
  stroke: #fc7a5b;
  stroke-width: 2.5px;
}

.link__graphic--slide {
  top: -5px;
  stroke-width: 2.5px;
  transition: transform 0.7s;
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.link:hover .link__graphic--slide {
  transform: translate3d(66.6%, 0, 0);
}

.rounded {
  border-radius: 2px;
}

.bg {
  background-color: #fff1ec;
  color: #88f;
}

.shadow {
  
  position: relative;
  transition: box-shadow ease 0.5s, border ease 0.5s, top ease 0.5s, left ease 0.5s;
  box-shadow: 10px 10px #88f;
  top: 0;
  left: 0;
  background-color: #ffd364;
  border: 2px;
  border-color: #88f;
  border-style: solid;

}

.shadow:hover {
  border-style: solid;
  box-shadow: 12px 15px #88f;
  top: -5px;
  left: -2px;
}

.arrow {
  border: solid #fc7a5b;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 10px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.point {
  cursor: pointer;
}

.main-box {
  width: 80vw;
  height: 83vh;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .big {
    font-size: 10vw;
  }

  .small {
    font-size: 3vw;
  }
}

@media screen and (max-width: 500px) {
  .small {
    font-size: 15px;
  }
}

/*
Color scheme: 
big: #88f
small: #88f
buttons: shadow: #88f
  bg: #ffd364
  txt: #fc7a5b
links: #fc7a5b
data: #2FFFD4
background: #fff1ec
*/