@import-normalize;

@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;600&family=Nunito&display=swap');

html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
}

#root {
    height: 100%;
}

.big {
  font-size: 3.5em;
  padding: 5px;
  font-weight: 300;
  font-family: 'Bitter', serif;
}

.small {
  font-size: 20px;
  padding: 5px;
  font-family: 'Bitter', serif;
  line-height: 2em;
}

.link {
  color: black;
}

.rounded {
  border-radius: 25px;
}